doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x", crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css")
        title Cita
    body
        form(action="/admin/cita", method="post")
            label(for="paciente") Paciente 
                select(name="paciente")
                    - for(var i = 0; i < pacienteSize; i++)
                        - var pacienteCurp = paciente[i].curp
                        option(value=pacienteCurp) #{paciente[i].nombre} #{paciente[i].apellido1}
            label(for="fecha") Fecha 
            input(type="date", name="fecha")
            label(for="hora") Hora 
                select(name="hora")
                    option(value="09:00") 09:00
                    option(value="09:30") 09:30
                    option(value="10:00") 10:00
                    option(value="10:30") 10:30
                    option(value="11:00") 11:00
                    option(value="11:30") 11:30
                    option(value="12:00") 12:00
                    option(value="12:30") 12:30
                    option(value="13:00") 13:00
                    option(value="13:30") 13:30
                    option(value="14:00") 14:00
                    option(value="14:30") 14:30
                    option(value="15:00") 15:00
                    option(value="15:30") 15:30
                    option(value="16:00") 16:00
                    option(value="16:30") 16:30
                    option(value="17:00") 17:00
                    option(value="17:30") 17:30
                    option(value="18:00") 18:00
                    option(value="18:30") 18:30
                    option(value="19:00") 19:00
                    option(value="19:30") 19:30
                    option(value="20:00") 20:00
                    option(value="20:30") 20:30

            label(for="doctor")  Doctor 
                select(name="doctor")
                    - for(var i = 0; i < doctorSize; i++)
                        - var doctorCurp = doctor[i].curp
                        option(value=doctorCurp) #{doctor[i].nombre} #{doctor[i].apellido1}
            input.btn.btn-primary(type="submit", value="Enviar" id="button")
            button.btn.btn-danger(type="reset") Elimina
