doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x", crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css")
        title Ver Citas
    body
        div(class="w-100 p-4")
            table(class="table table-striped table-responsive")
                thead
                    tr
                        th(scope="col" class="text-center") #
                        th(colspan="2" scope="col" class="text-center") Paciente
                        th(scope="col" class="text-center") Paciente Curp
                        th(colspan="2" scope="col" class="text-center") Doctor
                        th(scope="col" class="text-center") Doctor Curp
                        th(scope="col" class="text-center") Dia
                        th(scope="col" class="text-center") Hora 
                        th(colspan="2" scope="col" class="text-center") Funciones
                tbody(id="tbody")
                    - for(var i = 0; i < sizeCitas; i++)
                        tr  
                            th(scope="row text-center") #{i+1}
                            td(class="text-center") #{citas[i].pacientenombre}
                            td(class="text-center") #{citas[i].pacienteapellido1}
                            td(class="text-center") #{citas[i].pacientecurp}
                            td(class="text-center") #{citas[i].doctornombre}
                            td(class="text-center") #{citas[i].doctorapellido1}
                            td(class="text-center") #{citas[i].doctorcurp}
                            td(class="text-center") #{citas[i].dia}
                            td(class="text-center") #{citas[i].hora}
                            td(class="text-center")
                                    button(class="btn btn-outline-primary button-Edit" type="button")
                                            i(class="bi bi-pencil-square") 
                            td(class="text-center") 
                                button(class="btn btn-outline-danger button-delete" id="button-delete")
                                    i(class="bi bi-trash-fill")
    script(src="/js/ver_citas.js") 